.nav-link.active{
	position:relative;
	display:inline-block;
	padding-bottom:1px !important;
	padding-left:0px !important;
}
.navbar-light .navbar-nav .nav-link {
	text-transform: uppercase;
}
.nav-link.active::before {
	content: "";
	position: absolute;
	width: 50%;
	height: 1px;
	bottom: 0;
	left: 1%;
	border-bottom: 2px solid red;
}
.container, .container-sm, .container-md, .container-lg, .container-xl {
	max-width: 1260px;
}
.btn {
	border-radius: 0px;
	padding-left: 1.8rem !important;
	padding-right: 1.8rem !important;
	font-size: 1.2rem;
	box-shadow: 0px -1px 3px #000 inset;
	border: none;
	border-bottom: 0.3px solid #ec0000;
}
.indexslide{
	height: 892px;
	overflow: hidden;
}
.item {
	height: 892px;
	background-size: cover !important;
	background-position: center center !important;
}
.slider-caption {
	background: #00000070;
	top: 10%;
	position: absolute;
	left: 5%;
	padding: 35px;
	color: #fff;
}
.slider-caption p {
	font-size: 3.5rem;
	font-weight: 200;
}
.slider-caption p.line2 {
	font-size: 3rem;
	line-height: 3.2rem;
}
.slider-caption img {
	display: initial !important;
	width: inherit !important;
}
.navbar-brand {
	max-width:40%;
}
.owl-prev,.owl-next {
	position: absolute;
	top: 40%;
	color: rgba(255, 255, 255, 0.3) !important;
	font-size: 10rem !important;
}
.owl-prev{
	left: 0.33%;
}
.owl-next{
	right: 0.33%;
}
#menu-principal .nav-link i {
	font-size: 1.8rem;
}
.pat-red {
	background: url('../assets/img/pattern_red.jpg');
	padding: 45px 50px;
	background-repeat: repeat;
}
.pat-black {
	background: url('../assets/img/pattern_black.jpg');
	padding: 45px 50px;
	background-repeat: repeat;
}

.patborder-r,.patborder-b {
	padding:45px 30px;
}
.patborder-r {
	border: 1px solid #f00;
}
.patborder-b {
	border: 1px solid #000;
}
.pat-black .ln-1,.pat-red .ln-1 {
	width: 100%;
	display: block;
	text-align: left;
	font-size: 1.8rem;
	font-weight: 600;
}
.pat-black .ln-2,.pat-red .ln-2 {
	width: 100%;
	display: block;
	text-align: left;
	font-size: 1.6rem;
	font-weight: 400;
}
.bg-gray2 {
	background: #f7f7f7;
}
.auto2 {
	position: relative;
	width: 593px;
	height: auto;
	left: 189px;
}
.auto3 {
	position: absolute;
	width: 348px;
	top: 88px;
	left: 20px;
}
.bg-pleca {
	background: url('../assets/img/bg-left.jpg');
	min-height: 711px;
	display: inline-block;
	background-position: left center;
	background-repeat: no-repeat;
}
.escribenos {
	height: 444px;
	display: block;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	position: relative;
	background-position: center center !important;
	padding-top:63px;
}
.escribenos::after {
	content: '';
	background: #000000c9;
	position: absolute;
	width: 100%;
	left: 0%;
	z-index: 2;
	height: 100%;
	top: 0;
}
.cuadror-l {
	background: url('../assets/img/cuadro-rojo.png');
	position: absolute;
	left: 0;
	top: -40px;
	height: 137px;
	width: 197px;
	z-index: 3;
}
.cuadror-r {
	background: url('../assets/img/cuadro-rojo.png');
	position: absolute;
	right: 0;
	top: -40px;
	height: 137px;
	width: 197px;
	z-index: 3;
	transform: scaleX(-1);
}
.escribenos-info {
	position: relative;
	z-index: 3;
	color: #fff;
	text-align: center;
	margin: 0 auto;
	max-width: 860px;
	width: 90%;
}
.escribenos-info .ln-1 {
	font-size: 2.1rem;
	font-weight: bold;
	text-transform: uppercase;
}
.escribenos-info .ln-2 {
	font-size: 1.4rem;
	line-height: 1.6rem;
}
.rayita{
	font-size:2.1rem;
	position:relative;
}
.rayita::after {
	position: relative;
	background: url('../assets/img/rayita.png');
	content: '';
	height: 39px;
	width: 100%;
	display: inline-block;
	background-repeat: no-repeat;
	top: 0;
	background-position: top center;
	margin-top: 10px;
}
.card-index {
	margin-top: 60px;
}
.card-title {
	margin-bottom: 10px;
	font-weight: 600;
}
.card-content {
	color: #a0a0a0;
	font-size: 1rem;
	line-height: 1.1rem;
	text-align: justify;
	font-weight: 500;
}
.menui-f {
	list-style: none;
	padding-top: 10px;
	padding-bottom: 10px;
}
.menui-f a {
	font-size: 0.7rem;
	border-right: 1px solid rgba(255, 255, 255, 0.35);
	padding-right: 1.3rem;
	padding-left: 1.3rem;
	text-align: center;
	display: block;
}
.footer .navbar-social i {
	width: 30px;
	height: 30px;
	border: 1px solid #fff;
	border-radius: 60px;
	text-align: center;
	line-height: 30px !important;
}
.footer-bottom {
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	font-size: 0.8rem;
}
.rayita.elige {
	width: 270px;
	height: 74.25px;
}
.rayita.elige:after {
	background-position: left top;
	margin: 0px !important;
	padding: 0px !important;
}




.banner-page {
	height: 160px;
	position: relative;
}
.banner-page::after {
	position: absolute;
	height: 100%;
	width: 100%;
	content: '';
	background: rgba(0, 0, 0, 0.80);
}
.page-content {
	min-height: 53.6vh;
}
.card.bg-gray {
	background: #f4f4f4;
	border: none;
}
.card-title {
	border-left: 3px solid #f00;
	margin-left: 0px !important;
}

.main-full {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}